* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

/* HERO SECTION */

.hero {
    background-color: #1F2937;
    padding: 50px;
}

.header p {
    color: #F9FAF8;
    font-size: 24px;
}

.header {
    display: flex;
    justify-content:space-between;
    margin-bottom: 75px;
}

ul {
    display: flex;
    gap: 16px;

}

li {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight:900;
}

.hero button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 8px 18px;
    border-radius: 5px;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.placeholder {
    width: 600px;
    height: 200px;
    background-color: #E5E7EB;
}

.hero-container {
    display: flex;
    justify-content: space-evenly;
}

/* MAIN SECTION */

h2 {
    text-align: center;
    margin-top: 50px;
}

.four-squares {
    padding: 100px;
}

.sq1,
.sq2,
.sq3,
.sq4 {
    width: 100px;
    height: 100px;
    color: black;
    border: solid #3882F6 3px;
    border-radius: 10px;
}

.container-square {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
}

/* QUOTE SECTION */

.quote {
    background-color: #E5E7EB;
    padding: 100px;
}

.quote h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote p {
    text-align: right;
}

/* CTA SECTION */

.call-to-action {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 40px;
    margin: 50px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
}

.call-to-action h3 {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 20px;
}

.call-to-action button {
    background-color: #3882F6;
    border: solid #E5E7EB 1px;
    color: #E5E7EB;
    padding: 3px 16px 3px 16px;
    font-weight: bold;
    border-radius: 5px;
}

/* FOOTER SECTION */

.footer {
    background-color: #1F2937;
    padding: 30px;
    text-align: center;
    color: #F9FAF8;    
}

